{{extend 'layout.html'}}
<div class="page-header" id="elenco">
    <H1>Film</H1>
{{ if risultati_film: }}
	<table class="table table-striped">        
	<th>Titolo</th><th>Anno</th><th>Regia</th>    
    {{ for film in risultati_film: }}	
    	<tr><td>{{=A(film.titolo,_href=URL('default','film.html',args=film.slug),_target="_new") }}</td><td>{{ = film.anno}}</td><td>
        {{ for regista in film.registi(): }}
        	{{=A(regista.nome,_href=URL('default','persona',args=regista.slug)) }}&nbsp;
        {{ pass }}
        </td></tr>	
    {{ pass }}
    </table>
    {{ else: }}
    	<p>Nessun risultato</p>    
{{ pass }}
    <hr>
    <H1>Cast</H1>
{{ if risultati_attori: }}
	{{ for attore in risultati_attori: }}
		<ul class="unstyled">
			<li>{{=A(attore.nome,_href=URL('default','persona',args=attore.slug),_target="_new") }}</li>
	{{ pass }}
    	</ul>
	{{ else: }}
    	<p>Nessun risultato</p>
{{ pass }}
</div>
