{{extend 'layout.html'}}
{{=LOAD('default','cerca.load',ajax=True)}}
{{ if film.tmdb_id: }}
<script>
    // Funzione di aggiornamento diretto con id di themoviedb.org
    function aggiorna_film() {        
        $("#tmdbupdate_spinner").addClass("icon-refresh icon-spin");
        $("#tmdbupdate_btn").attr('disabled','disabled');
        //$("#tmdbupdate_btn").text('attendere...')
        return ajax('/moviedb/tmdb/update_movie_by_id?tmdb_id={{ = film.tmdb_id }}',[],':eval');
    }
</script>
{{ else: }}
<script>
    // Funzione di aggiornamento indiretto, e' necessario prima trovare l'id del film corretto
    // su themoviedb.org
    function aggiorna_film() {    	 
        //$("#tmdbupdate_spinner").addClass("icon-refresh icon-spin"); 
        //$("#tmdbupdate_btn").attr('disabled','disabled');
        //$("#tmdbupdate_btn").text('attendere...');	
    	window.location.hash = '#'+'openModal';
        $.getJSON('/moviedb/tmdb/call/json/find_title?movie_id={{ =film.id }}', function(data) {
			var titolitrovati = '';
			$.each(data, function(results) {
                var ajax_url = '/moviedb/tmdb/update_movie_by_id?tmdb_id='+data[results].id;
                titolitrovati = titolitrovati+'<dd><a href="#" onclick="ajax(\'' + ajax_url +'\',[],\':eval\')"><strong>'+data[results].title+'</strong></a>&nbsp;('+data[results].release_date+')</dd>';
			});
			$('.TitoliTrovati').html(titolitrovati);
		});
};
</script>
{{ pass }}
<div id="elenco">
<h1>{{ = film.titolo }} ({{= film.anno }})</h1>
{{ if film.tmdb_id: }}
<a class="btn" href="#" onclick="aggiorna_film()" id="tmdbupdate_btn"><i id="tmdbupdate_spinner" ></i> Aggiorna</a>
{{ else: }}
<a class="btn" href="#openModal" onclick="aggiorna_film()" id="tmdbupdate_btn">Aggiorna</a>
{{ pass }}
&nbsp;<a class="btn" href="#" onclick="window.location='{{=URL('default','edit',args=film.id)}}'"><i></i> Modifica</a>
<dt>
    <dd><strong>Regia:</strong>{{ for registi in cast.find(lambda row:row.ruoli.regista==True):           }}
{{ =A(registi.moviecast.nome,_href=URL('default','persona',args=registi.moviecast.slug)) }}&nbsp;
{{ pass }}
</dd>
<dd><strong>Visto:</strong>{{ = film.visto }}</dd>
<dd><strong>Masterizzato:</strong>{{ = film.masterizzato }}</dd>
<dd><strong>Giudizio:</strong>{{ = film.giudizio_mio }}</dd>
<dd><strong>Trama:</strong>{{ = film.trama }}</dd>
<dd><strong>Locandina:</strong><img src="{{ = URL('default','download',args=film.locandina) }}"></dd>
</dt>
<h2>Cast</h2>
<dt>
{{ for persona in cast.find(lambda row: row.ruoli.regista==False): }}    
    <dd>{{ = A(persona.moviecast.nome,_href=URL('default','persona',args=persona.moviecast.slug)) }}</dd>     
{{ pass }}
</dt>
{{ if media: }}
	<h2>Supporti</h2>
	{{ for supporto in media: }}
		{{ =supporto }}
		In formato {{ =supporto.tipo }} su {{ = db.supporto[supporto.supporto].tipo.nome }} n.&nbsp;
		{{ if db.supporto[supporto.supporto].id_originale: }}
			{{ =db.supporto[supporto.supporto].id_originale }}
		{{ else: }}
			{{ =db.supporto[supporto.supporto].id }}
		{{ pass }}
	{{ pass }}
{{ else: }}
<h2> {{ = A('Associa un supporto',_href=URL('associamedia',vars=dict(film= film.id))) }} </h2>
{{ pass }}
</div>
<div id="openModal" class="modalDialog">
<div>
<a href="#close" title="Close" class="close">X</a>
<h2>Seleziona il film corrispondente</h2>
<dt>
<span class="TitoliTrovati"></span>
</dt>
   	</div>
</div>
