{{extend 'layout.html'}}
<form class="navbar-form navbar-left" role="search" onsubmit="return;false">
<div class="form-group">
<a class="dropdown-toggle" id="toggleresult" role="button" data-toggle="dropdown" data-target="#"> 
<input type="text" class="form-control" placeholder="Cerca film, attori o registi" id="moviesearch" name="moviesearch" data-toggle="dropdown" autocomplete="off" onclick="$('#dropdown_risultati').toggle();"></div></a>
<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
<ul class="dropdown-menu" role="menu" aria-labelledby="moviesearch" id="dropdown_risultati">
<div id="risultati_ricerca"></div>
</ul>
</form>
</div>
<script>
jQuery("#moviesearch").keyup(function(){
      ajax('search_selector', ['moviesearch'], 'risultati_ricerca')});
</script>
