{{extend 'layout.html'}}
<div id="successbox" class="hidden alert alert-success">
    {{ = success_message }}
    Clicca <a href="{{ = success_url }}">qui</a> per proseguire.
</div>
<div id="failbox" class="hidden alert alert-error">
    {{ = failure_message }}
    Clicca <a href="javascript:window.history.back();">qui</a> per tornare indietro;
    </p>
    
</div>

<h1>{{ = heading_text }}</h1>
<div class="text-center" id="spinner">    
    <img src="{{=URL('static','images',args=('ajax-loader.gif'))}}">
</div>
<div id="stato">
<p id="statustext" class="text-center">Elaborazione in corso...</p>
</div>
<script>
$(document).ready(function () {
    aggiorna_stato();
});
// Assign handlers immediately after making the request,
// and remember the jqxhr object for this request
function aggiorna_stato() {
var jqxhr = $.getJSON("{{=URL('moviedb/default','call','json',args=('task_status'),vars=dict(task=task_id))}}", function() {
console.log( "Richiesta AJAX inviata" );
})
.done(function() {
console.log( "richiesta AJAX conclusa" );
})
.fail(function() {
jQuery('#failbox').show();
jQuery('#spinner').hide();
console.log( "error" );
})
.success(function() {
       jQuery('#successbox').show();
       jQuery('#spinner').hide();
       jQuery('#statustext').text('Elaborazione completata con successo.');
})
.always(function() {
console.log( "que lo scrivo sempre" );
});
// Perform other work here ...
// Set another completion function for the request above
jqxhr.complete(function(data) {
    setTimeout(aggiorna_stato,5000);
    console.log( "task status:",data.responseJSON );
    if (data.responseJSON.status == "COMPLETED") {

    }
    else if (data.responseJSON.status == "FAILED") {
        jQuery('#failbox').show();
        jQuery('#spinner').hide();
    }    
    else if ((data.responseJSON.status == "QUEUED") || (data.responseJSON.status == "ASSIGNED") || (data.responseJSON.status == "RUNNING")){
    setTimeout(aggiorna_stato,5000);
    }
    //jQuery('#statustext').text(data.responseJSON.status);
    console.log(data.responseJSON.status);
});
}
</script>
