{{extend 'layout.html'}}
<div id="formricerca">
{{ = form }}
{{ if risultati: }}
<table>
    <tr><th>Titolo</th><th>Anno</th></tr>
    {{ for risultato in risultati: }}
    <tr><td>{{ = A(risultato['titolo'],_onclick="aggiorna_film(%s);" % risultato['tmdb_id'],_href='#') }}</td><td>{{ = risultato['anno'] }}</td></tr>
    {{ pass }}
</table>
{{ pass }}
</div>
<div id="taskstatus">
{{ try: }}
<h4>Elaborazione task in corso...</h4>
<p id="statustext" class="text-center"></p>
<span class="titolitrovati">
<!-- <div class="center-block"><img src="{{=URL('static','images',args=('ajax-loader.gif'))}}"></div> -->
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="Attendere..." aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        <span class="sr-only">Please wait...</span>
        </div>
    </div>
</span>
{{ except: }}
{{ pass }}
</div>
<script>
function aggiorna_film(idfilm) {
   $.ajax({
  type:'POST',
  url: 'call/json/fetch_new/',
  data: {'tmdb_id': idfilm},
  dataType: 'json', //json data type
  success: function (jsonData) {
    $('#statustext').text(jsonData);
  },
});
}
function redirect_to_result(url) {
    window.location.replace(url);
}
</script>
